<div>
    <div class="header">
        <h1>Select Album</h1>
    </div>

    <div class="container">
        <div class="list">
            <div *ngFor="let album of albums" class = "album-card">
                <div class = "card-image">
                    <img [src] = "" [alt] = "" style="width: 100px;"/>
                </div>
                <div class = "description">
                    <h3>
                        <a [title]="album.title + ' details'"
                        [routerLink]="['/albums', album.id]">
                        {{ album.title }}
                        </a>
                    </h3>
                </div>
                <div class = "but">
                    <button type="button" class="delete-btn" (click)="deleteAlbum(album.id)">Delete</button>
                </div>
            </div>
        </div>   
    </div>
</div>

